{%extends 'structure.html'%} {%load static%} {%block title%}Gráfico Atratividade{%endblock%} {%block static%}
<link rel='stylesheet' href='{%static "css/charts.css"%}'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
{%endblock%} {%block fonts%}{%endblock%} {%block navbar%}
<div id='navbar'>
    <div id='div-logo'>
        <a href='/'><img id='logo' src='{%static "image/logo.svg"%}'></a>
    </div>
</div>
{%endblock%} {%block content%} {%csrf_token%}
<section id='first-section' class='default-section'>
    <div class='content-in-div'>
        <div class='content-side'>
            <div class='content-vertical'>
                <div class='info'>
                    <div class='info-icon'>
                        <img src='{%static "image/user.png"%}' class='icon'>
                    </div>
                    <div class='info-input'>
                        <input id='name' class='input' value='{{Name}}' disabled>
                    </div>
                </div>
                <div class='info'>
                    <div class='info-icon'>
                        <img src='{%static "image/arroba.png"%}' class='icon'>
                    </div>
                    <div class='info-input'>
                        <input id='name' class='input' value='{{Email}}' disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='content-in-div'>
        <div class='content-vertical'>
            <div class='div-title'>
                <p>Atratividade Geral</p>
            </div>
            <div class='div-chart'>
                <div id="atratividade_geral" class='charts'></div>
                <div class='card-why'>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Mede o quão atrativo para o Mercado de Trabalho é o seu Perfil como um todo. Esse indicador leva em consideração todos os pontos desejados pelas principais empresas que recrutam hoje.</p>
                        </div>
                    </div>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é um bom resultado?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Um bom resultado é aquele que está acima do mínimo que o Mercado pede. Um excelente resultado é aquele que é acima da linha da média do Mercado</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='content-in-div'>
        <div class='content-side'>
            <div class='content-vertical'>
                <div class='div-title'>
                    <p>Habilidades</p>
                </div>
                <div class='div-chart'>
                    <div id="habilidades" class='charts'></div>
                    <div class='card-why'>
                        <div class='reasons'>
                            <div class=reason-title>
                                <span>O que é?</span>
                            </div>
                            <div class='reason-text'>
                                <p>Mede dentro do seu perfil, como estão as suas habilidades técnicas, comportamentais e organizacionais.</p>
                                <ul class='reason-list'>
                                    <li class='reason-points'><span class='title-point'>Técnicas: </span>relacionadas ao conhecimento específico da sua área.<br>Ex: Vendedor | Como fazer uma boa venda.</li>
                                    <li class='reason-points'><span class='title-point'>Comportamentais: </span>relacionadas ao relacionamento com seus colegas.<br>Ex: Gerente | Gestão de Conflitos Pessoais</li>
                                    <li class='reason-points'><span class='title-point'>Organizacionais: </span>relacionadas ao trabalho em uma empresa.<br>Ex: Relacionamento com Chefe</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='content-in-div'>
        <div class='content-vertical'>
            <div class='div-title'>
                <p>Liderança</p>
            </div>
            <div class='div-chart'>
                <div id="liderança" class='charts'></div>
                <div class='card-why'>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Mede como está o nível da sua habilidade de liderança frente o Mercado para assumir posições de liderança de pessoas.
                            </p>
                        </div>
                    </div>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é um bom resultado?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Um bom resultado é aquele que está acima do mínimo que o Mercado pede. Um excelente resultado é aquele que é acima da linha da média do Mercado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='content-in-div'>
        <div class='content-vertical'>
            <div class='div-title'>
                <p>Empreendedorismo</p>
            </div>
            <div class='div-chart'>
                <div id="empreend" class='charts'></div>
                <div class='card-why'>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Mede dentro do seu perfil, as componentes de Intra e Extra empreendedorismo.</p>
                            <ul class='reason-list'>
                                <li class='reason-points'><span class='title-point'>Intra: </span>Pessoas que empreendem dentro de uma empresa.<br>Pessoas que inovam, criam novos projetos, cultivam novas ideias</li>
                                <li class='reason-points'><span class='title-point'>Extra: </span>Pessoas que empreendem por si mesmas. <br>Montam o seu negócio, testam novas ideias e estão sempre a busca de montar algo do seu jeito</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='content-in-div'>
        <div class='content-vertical'>
            <div class='div-title'>
                <p>Tendências</p>
            </div>
            <div class='div-chart'>
                <div class='create-chart'>
                    <div class='intern-chart'>
                        <div id="interno-externo" class='charts cchart'></div>
                        <div class='copy-chart'>
                            <div class='medium-line'></div>
                            <div class='my-line'></div>
                        </div>
                    </div>
                    <div class='external-chart'>
                        <div class='legend'>
                            <span>Interno</span>
                        </div>
                        <div class='legend'>
                            <span>Externo</span>
                        </div>
                    </div>
                </div>
                <div class='card-why'>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Mede se o seu perfil é mais alinhado para trabalhar dentro de uma empresa ou fora de uma empresa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='div-chart'>
                <div class='create-chart'>
                    <div class='intern-chart'>
                        <div id="lideranca-tecnica" class='charts cchart'></div>
                        <div class='copy-chart'>
                            <div class='medium-line'></div>
                            <div class='my-line'></div>
                        </div>
                    </div>
                    <div class='external-chart'>
                        <div class='legend'>
                            <span>Liderança</span>
                        </div>
                        <div class='legend'>
                            <span>Técnica</span>
                        </div>
                    </div>
                </div>
                <div class='card-why'>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Mede se o seu perfil é mais alinhado para trabalhar com liderança de pessoas ou com liderança técnica.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='div-chart'>
                <div class='create-chart'>
                    <div class='intern-chart'>
                        <div id="processos-projetos" class='charts cchart'></div>
                        <div class='copy-chart'>
                            <div class='medium-line'></div>
                            <div class='my-line'></div>
                        </div>
                    </div>
                    <div class='external-chart'>
                        <div class='legend'>
                            <span>Processos</span>
                        </div>
                        <div class='legend'>
                            <span>Projetos</span>
                        </div>
                    </div>
                </div>
                <div class='card-why'>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Mede se o seu perfil é mais alinhado para trabalhar com processos internos de uma empresa ou com projetos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='div-chart'>
                <div class='create-chart'>
                    <div class='intern-chart'>
                        <div id="intra-extra" class='charts cchart'></div>
                        <div class='copy-chart'>
                            <div class='medium-line'></div>
                            <div class='my-line'></div>
                        </div>
                    </div>
                    <div class='external-chart'>
                        <div class='legend'>
                            <span>Intra</span>
                        </div>
                        <div class='legend'>
                            <span>Extra</span>
                        </div>
                    </div>
                </div>
                <div class='card-why'>
                    <div class='reasons'>
                        <div class=reason-title>
                            <span>O que é?</span>
                        </div>
                        <div class='reason-text'>
                            <p>Mede se o seu perfil é mais alinhado para o Intraempreendedorismo ou para empreender fora.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%} {%block footer%}{%endblock%} {%block scripts%}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var total = parseInt('{{Total}}');
    google.charts.load("current", {
        packages: ["corechart"]
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Porcentagem", {
                role: "style"
            }],
            ["Atratividade Geral", total, "#00E88F"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation",
                trendline: {
                    0: {
                        visibleInLegend: true,
                    }
                }
            },
            2
        ]);

        var options = {
            width: '100%',
            height: '100%',
            bar: {
                groupWidth: "35%"
            },
            legend: {
                position: "none"
            },
        };
        var chart = new google.visualization.BarChart(document.getElementById("atratividade_geral"));
        chart.draw(view, options);
    }
</script>
<script type="text/javascript">
    var tec = parseInt('{{Tecnica}}');
    var comp = parseInt('{{Comportamental}}');
    var org = parseInt('{{Organizacao}}');
    google.charts.load("current", {
        packages: ["corechart"]
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Porcentagem", {
                role: "style"
            }],
            ["Técnica", tec, "#FC790D"],
            ["Comportamentais", comp, "#1F51FA"],
            ["Organizacionais", org, "#FCED07"],

        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2
        ]);

        var options = {
            width: '100%',
            height: '100%',
            bar: {
                groupWidth: "75%"
            },
            legend: {
                position: "none"
            },
        };
        var chart = new google.visualization.BarChart(document.getElementById("habilidades"));
        chart.draw(view, options);
    }
</script>
<script type="text/javascript">
    var lideranca = parseInt('{{Lideranca}}');
    google.charts.load("current", {
        packages: ["corechart"]
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Porcentagem", {
                role: "style"
            }],
            ["Liderança", lideranca, "#FE0502"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2
        ]);

        var options = {
            width: '100%',
            height: '100%',
            bar: {
                groupWidth: "35%"
            },
            legend: {
                position: "none"
            },
        };
        var chart = new google.visualization.BarChart(document.getElementById("liderança"));
        chart.draw(view, options);
    }
</script>
<script type="text/javascript">
    var extra = parseInt('{{Empreend}}');
    var intra = parseInt('{{Intra}}');
    google.charts.load("current", {
        packages: ["corechart"]
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Porcentagem", {
                role: "style"
            }],
            ["Intra", intra, "#8710F7"],
            ["Extra", extra, "#2AEC0B"],
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2
        ]);

        var options = {
            width: '100%',
            height: '100%',
            bar: {
                groupWidth: "35%"
            },
            legend: {
                position: "none"
            },
        };
        var chart = new google.visualization.BarChart(document.getElementById("empreend"));
        chart.draw(view, options);
    }
</script>
<script>
    if ('{{Condition}}' == 1) {
        $.ajax({
            url: '{%url "mail"%}',
            type: 'POST',
            data: {
                'name': $('#name').val(),
                'email': '{{Email}}',
                'total': '{{Total}}',
                'organizacao': '{{Organizacao}}',
                'tecnica': '{{Tecnica}}',
                'compartamental': '{{Comportamental}}',
                'empreend': '{{Empreend}}',
                'intra': '{{Intra}}',
                'lideranca': '{{Lideranca}}',
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'key': '{{Key}}'
            },
            success: function(data, textStatus, jqXHR) {
                alert(data);
            }
        })
    }
</script>
{%endblock%}