{%extends 'structure.html'%} {%load static%} {%block title%}Questionário: Atratividade Mercado{%endblock%} {%block static%}
<link rel='stylesheet' href='{%static "css/forms.css"%}'> {%endblock%} {%block fonts%}{%endblock%} {%block content%}
<div id='header-card' class='main-div'>
    <div id='card-image' class='my-card'>
        <a href='/'><img src='{%static "image/log.svg"%}'></a>
    </div>
</div>

<div id='informations' class='main-div'>
    <div id='title-forms' class='my-card'>
        <div id='main-title' class='title-card'>
            <p>{%block myTitle%}Questionário: Atratividade no Mercado{%endblock%}</p>
            <span id='info-quiz'>* Obrigatório</span>
        </div>
    </div>
    <div id='my-name' class='my-info my-card card-color'>
        <div class='title-card title-card'>
            <p>
                Nome
                <span class='lock'>*</span>
            </p>
        </div>
        <div class='before-element'>
            <input id='name' class='verification' type="text" placeholder="Sua resposta">
        </div>
    </div>
    <div id='my-mail' class='my-info my-card card-color'>
        <div class='title-card'>
            <p>
                E-mail
                <span class='lock'>*</span>
            </p>
        </div>
        <div class='before-element'>
            <input id='email' class='verification' type="text" placeholder="Sua resposta">
        </div>
    </div>
</div>

<div id='session-questions' class='main-div'>
    {%for question in questions%}
    <div class='my-card card-color'>
        <div class='title-card'>
            <p>
                {{question}}
                <span class='lock'>*</span>
            </p>
        </div>
        <div class='option-card-question'>
            <select class='my-option verification'>
                        <option disabled selected value>Selecione sua resposta</option>
                        <option value='Não tenho opinião'>Não tenho opinião</option>
                        <option value='Discordo totalmente'>Discordo totalmente</option>
                        <option value='Discordo em parte'>Discordo em parte</option>
                        <option value='Concordo'>Concordo</option>
                        <option value='Concordo totalmente'>Concordo totalmente</option>
            </select>
        </div>
    </div>
    {%endfor%}
</div>


<div id='card-actions' class='main-div'>
    <div id='card-actions-centralize'>
        <div class='half-card-action'>
            <span id='btn-send'>Enviar</span>
        </div>
        <div class='half-card-action before-element'>
            <a href='/atratividade/forms'><span id='btn-clear'>Limpar Formulário</span></a>
        </div>
    </div>
</div>

<form id="my-form" action="/atratividade/charts/{{key}}" method="post">{%csrf_token%}
    <input type='text' id='form-name' name='form-name' required>
    <input type='text' id='form-email' name='form-email'> {%for question in questions%}
    <input type='text' class='form-option' name='form-option-{{forloop.counter}}'> {%endfor%}
    <input type='text' id='form-question1' name='form-key' value='{{key}}'>
    <button type='Submit'>Add</button>
</form>
{%endblock%} {%block scripts%}
<script>
    var vtry = 0;
    $('#btn-send').click(function() {
        var condition = true;
        $('.verification').each(function(index) {
            if ($(this).val() === null || $(this).val() === '') {
                condition = false
                $('.card-color:eq({0})'.replace('{0}', index)).attr('style', 'background-color:#F6492A');
                //alert(index);
            } else {
                $('.card-color:eq({0})'.replace('{0}', index)).attr('style', 'background-color:#00E88F');
            }
        })
        if (condition == true) {
            $('.verification').each(function(index) {
                var myElement = ($(this).parent()).parent();
                myElement.attr('style', 'background-color:#F6F6F6');
            });
            var name = $('#name').val();
            var mail = $('#email').val();
            var option = '';
            var index = 0;
            $('#form-name').val(name);
            $('#form-email').val(mail);
            $('.my-option').each(function(index) {
                if ($(this).val() != null) {
                    option = $(this).val();
                    $('.form-option:eq({0})'.replace('{0}', index)).val(option);
                    index++;
                };
            });
            $('form').submit();
            vtry++;
        }
    });
    if (vtry === 0) {
        $('.verification').on('change', function(e) {
            var myElement = ($(this).parent()).parent();
            if (myElement.css("background-color") == 'rgb(246, 73, 42)') {
                myElement.attr('style', 'background-color:#F6F6F6');
            };
        });
    }
</script>
{%endblock%}