{%extends 'structure.html'%}
{%load static%}


{%block title%}Atratividade Mercado{%endblock%}

{%block static%}
    <link rel='stylesheet' href='{%static "css/home/forms.css"%}'>
{%endblock%}

{%block letters%}
    <style type="text/css">
        @font-face{font-family:AprovaSans;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.woff) format("woff"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.otf) format("opentype"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.ttf) format("truetype");font-style:normal}
        @font-face{font-family:AprovaSansBold;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.woff) format("woff"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.otf) format("opentype"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.ttf) format("truetype");font-weight:800;font-style:normal}
        @font-face{font-family:AprovaSansBlack;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.woff) format("woff"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.otf) format("opentype"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.ttf) format("truetype");font-weight:900;font-style:normal}
        @font-face{font-family:Descomplica;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/Descomplica-Medium.otf) format("opentype");font-weight:500;font-style:normal}
        @font-face{font-family:InterUI;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/inter-ui/Inter-UI-Regular.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/inter-ui/Inter-UI-Regular.woff) format("woff");font-weight:400;font-style:normal}
        @font-face{font-family:Pixellari;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/Pixellari.ttf) format("truetype");font-weight:500;font-style:normal}
        @font-face{font-family:VanguardCF;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/vanguard/Vanguard-CF-Bold.otf) format("opentype");font-style:normal}
    </style>
{%endblock%}

{%block content%}
    <div id='header-card' class='main-div'>
        <div id='card-image' class='my-card'>
            <a href='/'><img src='{%static "image/home/logo.png"%}'></a>
        </div>
    </div>

    <div id='informations' class='main-div'>
        <div id='title-forms' class='my-card'>
            <div id='main-title' class='title-card'>
                <p>{%block myTitle%}Atratividade Mercado{%endblock%}</p>
            </div>
            <div id='info-quiz'>
                <span>* Obrigatório</span>
            </div>
        </div>
        <div id='my-name' class='my-info my-card'>
            <div class='title-card title-card'>
                <p>
                    Nome
                    <span class='lock'>*</span>
                </p>
            </div>
            <div>
                <input type="text" required="" placeholder="Sua resposta">
            </div>
        </div>
        <div id='my-mail' class='my-info my-card'>
            <div class='title-card'>
                <p>
                    E-mail
                    <span class='lock'>*</span>
                </p>
            </div>
            <div>
                <input type="text" required="" placeholder="Sua resposta">
            </div>
        </div>
    </div>

    <div id='session-questions' class='main-div'>
        {%for question in questions%}
            <div class='my-card'>
                <div class='title-card'>
                    <p>
                        {{question}}
                        <span class='lock'>*</span>
                    </p>
                </div>
                <div class='option-card-question'>
                    <select>
                        <option disabled selected value>Selecione sua resposta</option>
                        <option value='Não tenho opinião'>Não tenho opinião</option>
                        <option value='Discordo totalmente'>Discordo totalmente</option>
                        <option value='Discordo em parte'>Discordo em parte</option>
                        <option value='Concordo'>Concordo</option>
                        <option value='Concordo totalmente'>Concordo totalmente</option>
                    </select>
                </div>
            </div>
        {%endfor%}
    </div>

    
    <div id='card-actions' class='main-div'>
        <div id='card-actions-centralize'>
            <div class='half-card-action'>
                <span id='btn-send'>Enviar</span>
            </div>
            <div class='half-card-action'>
                <span id='btn-clear'>Limpar Formulário</span>
            </div>
        </div>
    </div>
{%endblock%}

{%block scripts%}
    
{%endblock%}
