{%extends 'structure.html'%}
{%load static%}

{%block title%}Gráfico Atratividade{%endblock%}

{%block static%}
    <link rel='stylesheet' href='{%static "css/graphic.css"%}'>

{%endblock%}

{%block fonts%}{%endblock%}

{%block navbar%}
    <div id='my-navbar'>
         <div id='centralize-logo'>
            <a id='my-link-' href='/'><img id='my-logo' src='{%static "image/logo.png"%}'></a>
         </div>
    </div>
{%endblock%}

{%block content%}
    <div id='my-div'>
        <div id='section-left' class='side-div'>
            <div id='intern-left-top' class='intern-side-left'>
                <div class='my-info'>
                    <div>
                        <img src='{%static "image/user.png"%}' class='icon'>
                    </div>
                    <div>
                        <input id='name' class='my-input'>
                    </div>
                </div>
                <div class='my-info'>
                    <div>
                        <img src='{%static "image/arroba.png"%}' class='icon'>
                    </div>
                    <div>
                        <input id='email' class='my-input'>
                    </div>
                </div>
            </div>
            <div id='intern-left-bottom' class='intern-side-left'>
                <div class='section-graphic'>
                    <div id='content-left'>
                        <div id="chart_div"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id='section-right' class='side-div'>
            <div class='section-graphic'>
                <div id='content-right'>
                    <div id="chart_div1"></div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{%block footer%}{%endblock%}
{%block scripts%}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
            ['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
            ]);

            var options = {'title':'How Much Pizza I Ate Last Night',
                        'width':400,
                        'height':300};

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            var chart1 = new google.visualization.PieChart(document.getElementById('chart_div1'));
            chart.draw(data, options);
            chart1.draw(data, options);
        }
    </script>
{%endblock%}