#navbar {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px
}

#logo {
    align-items: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
}

.default-section {
    height: auto;
}

.content-in-div {
    margin-top: 40px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info-input {
    width: 100%;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}

.input {
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    width: 80%;
    font-family: AprovaSans, sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
    background-color: #fff;
    color: #000;
    margin-left: 1rem;
}

.div-title p {
    font-family: VanguardCF, sans-serif;
    font-size: 3.2rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0px;
}

.charts {
    font-family: AprovaSans, sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
}