{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Página Estrutural{%endblock%}</title>
    {%block static%}{%endblock%}
    {%block fonts%}{%endblock%}
    <link rel='stylesheet' href='{%static "css/structure.css"%}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
        @font-face{font-family:AprovaSans;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.woff) format("woff"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.otf) format("opentype"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Regular.ttf) format("truetype");font-style:normal}
        @font-face{font-family:AprovaSansBold;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.woff) format("woff"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.otf) format("opentype"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Bold.ttf) format("truetype");font-weight:800;font-style:normal}
        @font-face{font-family:AprovaSansBlack;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.woff) format("woff"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.otf) format("opentype"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/aprova-sans/Aprova-Black.ttf) format("truetype");font-weight:900;font-style:normal}
        @font-face{font-family:Descomplica;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/Descomplica-Medium.otf) format("opentype");font-weight:500;font-style:normal}
        @font-face{font-family:InterUI;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/inter-ui/Inter-UI-Regular.woff2) format("woff2"),url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/inter-ui/Inter-UI-Regular.woff) format("woff");font-weight:400;font-style:normal}
        @font-face{font-family:Pixellari;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/Pixellari.ttf) format("truetype");font-weight:500;font-style:normal}
        @font-face{font-family:VanguardCF;src:url(https://d3awytnmmfk53d.cloudfront.net/landings/static/fonts/vanguard/Vanguard-CF-Bold.otf) format("opentype");font-style:normal}
    </style>
<body>
    {%block navbar%}{%endblock%}
    <div class='container'>
        {%block content%}{%endblock%}
    </div>

        
    {%block footer%}{%endblock%}
    {%block scripts%}{%endblock%}
</body>
</html>